---
name: Molecule CI
on:
  push:
    paths-ignore:
     - '**.md'
  pull_request:
    paths-ignore:
     - '**.md'
  schedule:
    - cron: "0 7 * * 0"

env:
  PYTHON_VERSION: '3.12.x'

jobs:

  test:
    name: Molecule
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - default # ubuntu latest
          - kubuntu

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v6

      - name: Set up Python 3.
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install test dependencies.
        run: |
          pip install -r pip/requirements.txt

      - name: Show versions.
        run: |
          molecule --version
          yamllint --version
          ansible-lint --version

      - name: Run Molecule tests.
        run: molecule test -s ${{ matrix.scenario }}
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'